<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protonmail.fabian.schneider.aim"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.protonmail.fabian.schneider.aim.constants"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="AIM OS"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".AIM_start"
            android:configChanges="orientation"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="actualConf.update" />
            </intent-filter>
        </activity>

        <service android:name=".AIMServiceMain" />

        <activity android:name=".Settings"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activity_config_satellites"
            android:label="@string/title_activity_config_satellites"
            android:parentActivityName=".Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.protonmail.fabian.schneider.aim.Settings" />
        </activity>

        <activity android:name=".activity_config_sensor"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activity_config_cat_sensor"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activity_config_onlineFiles"
            android:windowSoftInputMode="stateHidden"/>


    </application>

</manifest>